/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(fonts/FoglihtenNo04-070.otf ) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {

    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {

    -webkit-touch-callout: none;                /!* prevent callout to copy image, etc when tap to hold *!/
    -webkit-text-size-adjust: none;             /!* prevent webkit from resizing text to fit *!/
    -webkit-user-select: none;                  /!* prevent copy paste, to allow, change 'none' to 'text' *!/
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Grid */

.content-grid {
  max-width: 100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /!* 170px x 200px *!/
    position:absolute;             /!* position in the center of the screen *!/
    left:50%;
    top:50%;
    height:50px;                   /!* text area height *!/
    width:225px;                   /!* text area width *!/
    text-align:center;
    padding:180px 0px 0px 0px;     /!* image height is 200px (bottom 20px are overlapped with text) *!/
    margin:-115px 0px 0px -112px;  /!* offset vertical: half of image height and text area height *!/
                                   /!* offset horizontal: half of text area width *!/
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /!* padding-top + padding-bottom + text area = image height *!/
        margin:-90px 0px 0px -198px;  /!* offset vertical: half of image height *!/
                                      /!* offset horizontal: half of image width and text area width *!/
    }
}




.mdl-layout {
    text-align: center;
    background: #03A9F4;
}

span.custom-title{
    color: #ffffff;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-size: 350%;
    font-family: 'Quicksand', sans-serif !important;
}

h1 {
    font-size:24px;
    font-weight:normal;
    overflow:visible;
    text-align:center;
}

.mdl-cell{
    width:100%!important;
}

.mdl-card {
    margin-left: auto;
    margin-right: auto;
    height: 450px;!important;

}

.mdl-card__title {
    background-color: #e1e1e1;
}

.demo-card-square > .mdl-card__supporting-text{
    color: #ffffff!important;
    font-weight: bold;
    background-color: #dbdbdb;
    width: 100%;
}
/*h5 {
    color: #FF8888;
    font-size: small;
    font-weight: bold;
}*/

#gem-img {
    display: block;
    margin: 0 auto;
    transition: opacity .25s ease-in-out;
    animation: pulse 5s;
}

.mdl-button.mdl-button--accent {
    height: 100px;
    width: 100%;
    color: #03A9F4 !important;
    font-weight: bold;
    background-color: #5310AB;
}

.mdl-button:active {
    background-color: #2AD9EA;
}
